@media screen and (max-width: 1024px) {
    .navBar {
        width: 91%;

    }
    
    #sideNavBar{
        display: block;
    }
    .navBar .navItems{
        display: none;
    }
    #menuIcon{
        display: block;
    }

    /* home section */
    .childHome{
        flex-basis: 45%;
    }
    
    .homeImg{
        padding-top: 50px;
    }

    .childHome h1 {
        font-size: 30px;
    }
    .childHome p {
        font-size: 16px;
    }

    .childHome button a {
        font-size: 15px;
    }

    /* about section */
    .childAbout{
        flex-basis: 45%;
    
    }

    .childAbout h1{
        font-size: 28px
    }

    .childAbout p{
        font-size: 15px;
    }

    /* expert section */
    .childExpert{
        flex-basis: 45%;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 768px) {
    .childHome{
        flex-basis: 100%;
    }

    .childAbout{
        flex-basis: 100%;
    }

    .childPrevent{
        flex-basis: 100%;
    }
    .cp_4, .cp_5{
        margin-bottom: 30px;
    }

    .childExpert{
        flex-basis: 100%;
        margin-bottom: 30px;
    }
}

    



