:root{
    --main-color:linear-gradient(to right, #Acafd3, #Fbad37);
    --black:#244361;
    --box-shadow: 0 5px 10px rgba(0,0,0,.1);
}

/* default css */
html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-size: 14px;
}

body{
    font-family: 'Poppins', arial,  sans-serif;

}

h1, h2, h3, h4, h5, h6{
    font-weight: 600;
}

img{
    width: 100%;
}

section{
    padding: 80px 0px;
}

.sectionTitle{
    font-size: 30px;
    text-align: center;
    color: var(--black);
    margin-bottom: 30px;

}


/* header section */
header{
    background: rgb(255, 255, 255);
    display: flex;
    box-shadow: 1px 1px 9px #918a8a9f;
    position: fixed;
    width: 100%;
    z-index: 5;
}

.navBar{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
}

.logo a{
    color: var(--black);
}

.logo a span, .logo a span i{
    font-size: 22px;
}

.navItems{
    text-align: right;
}

.navBar .navItems .navItem{
    display: inline-block;
    margin-left: 20px;
}

.navBar .navItems .navItem .navLink{
    color: var(--black);
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 25px;
    transition: all .3s;

}

.navBar .navItems .navItem .navLink:hover{
    background: var(--main-color);
    color: #fff;
}

.navBar .navItems .navItem .navLink:active{
    background: rgb(85, 197, 85);
}



/* menuBar */

#menuIcon{
    position: absolute;
    right: 5%;
    top: 35%;
    display: none;
    border: none;
    font-size: 20px;
    background: transparent;
    width: 20px;
    height: 20px;

}

.menu{
    filter: brightness(0);
}

#sideNavBar{
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    transition: .8s;
}

#sideNavBar  .sideNavItems{
    text-align: left;
    background: linear-gradient(rgba(255, 214, 34, 0.96), rgba(255, 240, 34, 0.6));
    backdrop-filter: blur(8px);
    height: 100vh;
}

#sideNavBar  .sideNavItems .navItem .navLink{
    color: var(--black);
    padding: 15px 0;
    display: block;
    background: transparent;
    padding: 20px 20px;
    font-size: 18px;
    transition: .3s;
}

#sideNavBar  .sideNavItems .navItem .navLink:hover{
    background: #fff;
}

/* home section */

#home{
    background: url(../img/home-bg.png);
}

.innerHome{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.childHome{
    flex-basis: 45%;
}

.childHome p{
    font-size: 18px;
}

.childHome h1{
    font-size: 40px;
    color: var(--black);
}

.homeBtn{
    color: #fff;
    background: var(--main-color);
    padding: 5px 20px;
    border: 1px solid #Fbad37;
    border-radius: 25px;
    font-size: 16px;
    display: inline-block;
    margin-top: 20px;
    transition: .3s;
}

.homeBtn:hover{
    background: transparent;
    color: #Fbad37;
    border: 1px solid#Fbad37;
}

/* about section */

.innerAbout{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;

}

.childAbout{
    flex-basis: 45%;

}

.childAbout h1{
    font-size: 35px;
    color: var(--black);
    border-bottom: 1px solid var(--black);
    margin-bottom: 10px;

}

.childAbout p{
    margin-bottom: 20px;
    text-align: justify;
    color: grey;
}

/* prevent section */

.innerPrevent{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

.childPrevent {
    flex-basis: 31%;
    padding: 35px 20px;
    background: rgb(248 248 254);
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0px #cecece;
    transition: .5s;
    cursor: pointer;
}

.childPrevent:hover{
    box-shadow: 0px 0px 5px 2px #b6b6b6;
}

.cp_1, .cp_2, .cp_3{
    margin-bottom: 30px;
}

.childPrevent .preventImg{
    width: 65px;
    height: 65px;
    display: inline-block;
    overflow: hidden;
}

.childPrevent h3{
    font-size: 20px;
    color: var(--black);
}

.childPrevent p{
    color: grey;
}

/* expert section  */

.innerExpert{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}

.childExpert{
    flex-basis: 22%;
    background: #fafafa;
    border-radius: 10px;
    padding: 20px 15px;
    box-shadow: 0px 0px 2px 0px #cecece;
    position: relative;
    cursor: pointer;
    
}

.childExpert .expertImg {
    width: 220px;
    display: inline-block;
    background: rgba(214, 235, 255, 0.575);
    margin: 10px 0;
    border-radius: 5px;
}

.childExpert h3{
    font-size: 20px;
}

.childExpert .socialIcons{
    position: absolute;
    right: 0px;
    top: 30px;
    visibility: hidden;
    transition: .5s;
    opacity: 0;
}

.childExpert:hover .socialIcons{
    right: 15px;
    top: 30px;
    visibility: visible;
    opacity: 1;
}


.childExpert .socialIcons li a{
    color: #fff;
    background: var(--main-color);
    width: 30px;
    height: 30px;
    display: block;
    margin-bottom: 5px;
    line-height: 30px;
    border-radius: 5px;

}

